body {
  background-color: #f3f4f5;
}
.jumbotron {
  padding-top: 8rem;
  background-color: #e2edff;
}

.jumbotron .h1 {
  margin-bottom: 5rem;
}

#Character {
  background-color: #e2edff;
}

.col h2 {
  padding-top: 5px;
  margin-bottom: 30px;
}

section {
  padding-top: 10rem;
}
